/* 스크롤 이동을 부드럽게 */
html {
  scroll-behavior: smooth;

}

body {
  width: 100vw;
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  overflow-x: hidden;

}

img {
  display: block;
}


a {
  text-decoration: none;
  color: #333;
}

header {
  position: relative;
}

/* 헤더 */
.header-background {
  /* width: 1920px; */
  height: 420px;
  background-image: url("../images/main/Layer\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.1px;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.header-background .inner .nav {
  display: flex;
  align-items: center;
  max-width: 1440px;
}


.logo {
  display: inline-block;
  margin-top: 40px;
}

.main-menu .main-menu2 {
  display: flex;
  position: absolute;
  right: 0px;
}


.main-menu>.main-menu2>li.item>a.item_name {
  color: #fff;
  padding: 0 50px;
  font-weight: 500;
  transition: 0.5s;
}

.main-menu .main-menu2 li.item a.item_name:hover {
  color: #E73A3A;

}

.main-menu .main-menu2 li.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.item-contents {
  display: block;
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid #E73A3A;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  display: none;
  z-index: 3;

}

.main-menu .main-menu2 li.item:hover .item-contents {
  display: block;
}


.item-contents .contents__menu ul li a {
  color: #333;
  transition: 0.3s;

}

.item-contents .contents__menu ul li a:hover {
  display: block;
  font-weight: 700;
  color: #E73A3A;
  text-decoration: dotted;
}

/* 사이드 퀵 메뉴 */
.side-quick-menu {
  background-color: transparent;
  border-left: 1px solid #fff;
  width: 88px;
  height: 100vw;
  z-index: 20;
  position: fixed;
  right: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-quick-menu>a>span {
  color: #fff;
  font-weight: 500;
}




.side-quick-menu a:nth-child(2) {
  padding-top: 53px;
  padding-bottom: 20px;
}





/* 배너 */

.main-banner {
  max-width: 1440px;
  width: 100%;
  height: 418px;
  /* background-color: #000; */
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
}

.main-banner .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide .front img {
  max-width: 1270px;
  height: 390px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.5);
}

.swiper-slide .banner-back.banner01 {
  max-width: 1270px;
  height: 390px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #E4864D;
}


.swiper-slide .banner-back.banner02 {
  width: 1270px;
  height: 390px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #4988E8;
}

.swiper-slide .banner-back.banner03 {
  width: 1270px;
  height: 390px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #556277;
}

/* 스와이프 버튼 */
.swiper-button-prev {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 1300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
  transition: 0.4s;
}

.swiper-button-prev::after {
  display: none;
  transition: 0.4s;
}

.swiper-button-prev:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);

}

.swiper-button-next {
  position: absolute;
  width: 46px;
  height: 46px;
  right: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
  transition: 0.4s;
}

.swiper-button-next:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.4s;
}

.swiper-button-next::after {
  display: none;
}




/* 스와이퍼 페이지네이션 */
.main-banner .swiper-pagination {
  position: absolute;
  z-index: 3;
  left: 1305px;
  bottom: 150px;
  width: 100px;
  display: inline-block;

  /* background-color: black; */
  /* 헤더의 z-index가 9이기 때문에 1로 덮어씀 */
}

.main-banner .swiper-pagination .swiper-pagination-bullet {
  /* 기존 배경색은 투명하게 숨기고, 배경 이미지를 사용 */
  background-color: transparent;
  background-image: url("../images/common/pagination.png");
  width: 8px;
  height: 8px;
}

.main-banner .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/common/pagination_active.png");
}




/* section content 1 */
section.content1 {
  max-width: 1920px;
  position: relative;
  padding-top: 350px;
}

.left {
  width: 453px;
  margin-right: 61px;
}


h4 {
  font-size: 86px;
  font-weight: 900;
}

.left p {
  font-size: 25px;
  line-height: 45px;
}

.left p span.bold {
  color: #E73A3A;
  font-weight: 700;
}

.left p span.h {
  background-color: rgba(231, 58, 58, 0.2)
}


.more {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 0;
}

.more .material-symbols-outlined.plus {
  font-size: 60px;
  color: #E73A3A;
}

/* .more .material-symbols-outlined.plus:hover {
  font-size: 60px;
  color: #fff;
  background-color: #E73A3A;
} */

.more .add {
  font-size: 20px;
  color: #E73A3A;
}




/* 포스터들 */

.right {
  margin-top: 40px;

  width: 930px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.content_item {
  width: 283px;
}


.item_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}

.event {
  display: inline-block;
  background-color: #E73A3A;
  width: 60px;
  height: 31px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 23px;
  text-align: center;
  line-height: 31px;
  transition: 0.5s;
  box-sizing: border-box;
}

.event:hover {
  background-color: #fff;
  border: 1px solid #E73A3A;
  color: #E73A3A;
}

.poster {
  margin-bottom: 11px;
}

.content_item h3 {
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}

.content_item h3:hover {
  color: #E73A3A;
}

.content_item p {
  font-size: 17px;
  font-weight: 700;
  color: #a6a6a6;
}

.content1 .inner {
  display: flex;
  align-items: start;
}

.background_logo {
  position: absolute;
  top: 680px;
}


/* notice & news */

.content2 {
  padding-top: 100px;
  height: 788px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.content2 .inner {
  width: 100%;
}

.inner .title {
  margin-bottom: 40px;
}

.title_group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title_group p {
  font-size: 25px;
}

.btn_more {
  display: flex;
  align-items: center;
  column-gap: 40px;
  color: #333;
}

.btn_more a p.whole {
  color: #000;
  font-size: 20px;
}


.swiper.news {
  width: 2400px;
  left: 175px;
  position: relative;
  width: 100%;
  height: 470px;
  flex-grow: 1;
}


.newss.swiper-wrapper {
  width: 1920px;
  height: 100%;
}

.news .news1 {
  width: 480px !important;
  height: 470px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-right: 1px solid #000;
}


.news-content {
  width: 360px;
  margin: 0 auto;
}



.news .news1 p {
  color: #E73A3A;
  font-size: 20px;
  margin-bottom: 10px;
}

.news .news1 h3 {
  font-size: 30px;
  margin-bottom: 20px;
  transition: 0.2s;
}


.news-content:hover h3 {
  color: #E73A3A;

}


.news .news1 span {
  font-size: 18px;
  line-height: 32px;
}

.news_img {
  width: 360px;
  height: 321px;
}

/* 스와이프버튼 */
.content2>.newss.swiper-button-prev {
  position: absolute;
  opacity: 1;
  left: 500px;
  top: 862px;
  color: #000;
  cursor: pointer;
}

.content2>.newss.swiper-button-prev span,
.content2>.newss.swiper-button-next span {
  font-weight: 700;
}


.content2>.newss.swiper-button-next {
  left: 540px;
  top: 862px;
  color: #000;
}




.newss.swiper-scrollbar {
  background: #d6d6d6;

}

.content2>.newss.swiper-scrollbar {
  border-radius: 2px;
  height: 3px;
  width: 200px;
  bottom: 70px;
  left: 337px;
  transform: translateX(-50%);
}


/* .content2 .newss.swiper-pagination .swiper-pagination-bullet { 
  width: 3px; 
  height: 3px; 
  background: transparent;
  background-color:  rgba(0, 0, 0, 0.5);
  opacity: 1; 
}

.content2 .newss.swiper-pagination .swiper-pagination-bullet-active {
  width: 40px; 
  transition: width .5s;
  border-radius: 5px; 
  background: #E73A3A; 
  border: 1px solid transparent; 
  } */




/*  운영시간   */

.bottom {
  position: relative;
  max-width: 100%;
}

.line {
  border-top: 1px solid #D9D9D9;
  width: 100%;
  position: absolute;
}

.bottom .inner:nth-child(2) {
  padding-top: 1000px;
  padding: 44px 0;
}

.content3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_time {
  display: flex;
  align-items: center;
}

.title_time h1 {
  font-size: 35px;
  font-weight: 700;
  margin-right: 17px;
}

.title_time img {
  margin-right: 17px;
}

.title_time p {
  font-size: 18px;
  color: #a6a6a6;
}

.time_time {
  display: flex;
}



.openclose {
  display: flex;
  align-items: center;
}

.clock {
  width: 60px;
  height: 60px;
  background-color: #D9D9D9;
  border-radius: 10px;
  text-align: center;

}

.clock span {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #333;
}

.open {
  padding: 0 28px;
  border-right: 1px solid #333;
}

.open p:first-child {
  font-size: 18px;
  margin-bottom: -5px;
}

.open p:last-child {
  font-size: 30px;
  font-weight: 700;
  color: #E73A3A;
}

.close {
  padding: 0 28px;
}

.close p:first-child {
  font-size: 18px;
  margin-bottom: -5px;
}

.close p:last-child {
  font-size: 30px;
  font-weight: 700;
  color: #E73A3A;
}

.date {
  display: flex;
}

.holiday p:first-child {
  font-size: 18px;
  margin-bottom: -5px;
}

.holiday p:last-child {
  font-size: 30px;
  font-weight: 700;
  color: #E73A3A;
}

.holiday {
  padding: 0 28px;
}


.holiday p:last-child span {
  color: #333;
  font-weight: 500;
}


/* 뉴스레터 */

.newsletter {
  width: 100%;
  background-image: url('../images/main/background_newsletter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}



.bottom .newsletter .inner {
  height: 304px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom .newsletter .inner .newsletter_group>h1 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 38px;
}


.bottom .newsletter .inner .newsletter_group label>.input {
  width: 650px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #8C8C8C;
  font-size: 20px;
  outline: none;
  box-sizing: border-box;
}

button.button {
  background-color: #fff;
  width: 110px;
  height: 40px;
  outline: none;
  border: 1px solid #fff;
  font-size: 20px;
  font-family: 'Pretendard', sans-serif;
  cursor: pointer;
  transition: 0.5s;
  box-sizing: border-box;
}

button.button:hover {
  background-color: #E73A3A;
  color: #fff;
  border: 1px solid #E73A3A;
}


/* 푸터 */
footer {
  max-width: 1920px;
  background-color: #000;
  border-top: 1px solid #333;
}

footer .inner {
  padding: 40px 0 60px;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

.first-line-right {
  display: flex;
  column-gap: 100px;
}

footer .menu {
  display: flex;
}

footer .menu li {
  position: relative;
}

footer .menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}


footer .menu li:first-child:before {
  display: none;
}

footer .menu li a {
  display: block;
  padding: 15px;
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
}

.info {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.info_text {
  font-size: 14px;
  padding-left: 30px;
  font-weight: 600;
  color: #747474;
}

.familysite {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.familysite span {
  color: #fff;
}

.sns {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-right: 20px;
}

.sns span {
  color: #fff;
}

.icons {
  display: flex;
  column-gap: 10px;
}


/* SCROLL TO TOP */
.to-top {
  width: 48px;
  height: 48px;
  background-color: #E73A3A;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 23;
  text-align: center;

  /* opacity: 0; */
}

.to-top a {
  color: #fff;
  line-height: 48px;
  font-size: 30px;
}

/* 퀵버튼 */

.quick-btn {
  position: fixed;
  right: 20px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  z-index: 21;
}

.btn {
  font-size: 14px;
  margin-top: 10px;
  line-height: 16px;
}

.quick-btn>.btn>.btn_text {
  padding-top: 10;

}


/* 스크롤 시 애니메이션을 공통 스타일로 추가 */
/* BACK TO POSITION */
.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-left {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}

.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}




/* 반응형 작업 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }

  header {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
  }

  .header-background {
    width: 100%
  }

  .inner {
    max-width: 785px;
    margin: 0 auto;
    position: relative;
  }

  .main-banner {
    position: absolute;
    margin: auto;
    box-sizing: border-box;
  }

  .swiper-slide .front img {
    height: 246px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .swiper-slide .banner-back.banner01 {
    width: 785px;
    height: 246px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 100px;
  }

  .swiper-slide .banner-back.banner02 {
    width: 785px;
    height: 246px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 100px;

  }

  .swiper-slide .banner-back.banner03 {
    width: 785px;
    height: 246px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 100px;
  }

  .swiper-button-prev {
    top: 280px;
    left: 127px;
  }

  .swiper-button-next {
    top: 280px;
    right: 127px;
  }

  .main-banner .swiper-pagination {
    right: 0;
    left: 0;
    margin: auto;
    top: 270px;
  }

  .side-quick-menu {
    display: none;
  }

  .quick-btn {
    display: none;
  }



  /* 섹션1 */
  section.content1 {
    padding-top: 200px;
  }

  .content1 .inner {
    display: block;
  }

  .left {
    width: 100%;
    margin-right: 0;
  }


  h4 {
    font-size: 60px;
  }

  .left p {
    font-size: 25px;
    line-height: 40px;
  }


  .more {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
  }

  .right {
    width: 785px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .content_item {
    width: 240px;
    padding-top: 20px;
  }

  .poster {
    width: 240px;
    height: 380px;
  }

  .background_logo {
    display: none;
  }

  /* 섹션2 */
  .content2 {
    overflow-x: hidden;
  }

  .title_group p {
    font-size: 25px;
  }

  .swiper.news {
    left: 58px;
    width: 100%;
  }

  .content2>.newss.swiper-scrollbar {
    left: 218px;
    bottom: 112px;
  }

  .content2>.newss.swiper-button-prev {
    left: 345px;
    top: 824px;
  }

  .content2>.newss.swiper-button-next {
    left: 400px;
    top: 824px;
    color: #000;
  }


  /* 바탐 */
  .content3 {
    display: none;
  }

  .line {
    display: none;
  }

  .bottom .inner {
    display: none;
  }



  /* 푸터 */


  footer .menu li a {
    padding: 0 20px;
    font-size: 14px;
  }

  .first-line {
    display: block;

  }

  footer ul.menu {
    width: 600px;
    margin: 0 auto;
  }

  .first-line-right {
    width: 580px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;

  }

}



/* ~479px 이하일때 */
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  header {
    
    width: 100%;
    margin: 0 auto;
  }

  .header-background {
    /* width: 100% */
  }

  .inner {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
  }

  .main-banner {
    overflow-x: hidden;
  }

  .swiper-slide .front img {
    width: 100%;
    height: 210px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .swiper-slide .banner-back.banner01 {
    width: 100%;
    height: 200px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 136px;
  }

  .swiper-slide .banner-back.banner02 {
    width: 100%;
    height: 200px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 136px;

  }

  .swiper-slide .banner-back.banner03 {
    width: 100%;
    height: 200px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 136px;
  }

  .swiper-button-prev {
    top: 244px;
    left: 127px;
  }

  .swiper-button-next {
    top: 244px;
    right: 127px;
  }

  .main-banner .swiper-pagination {
    right: 0;
    left: 0;
    margin: auto;
    top: 240px;
  }

  .side-quick-menu {
    display: none;
  }

  .quick-btn {
    display: none;
  }



  /* 섹션1 */
  section.content1 {
    padding-top: 150px;
  }

  .content1 .inner {
    display: block;
  }

  a.more {
    display: none;
  }

  .left {
    width: 100%;
    margin-right: 0;
  }


  h4 {
    font-size: 60px;
  }

  .left p {
    font-size: 25px;
    line-height: 40px;
  }


  .more {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
  }

  .right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 30px; */
    margin: 0 auto;
    padding-top: 40px;
  }

  .content_item {
    width: 240px;
    padding: 0 30px;
  }

  .poster {
    width: 240px;
    height: 380px;
  }

  .background_logo {
    display: none;
  }

  /* 섹션2 */
  .content2 {
    overflow-x: hidden;
  }

  .title_group p {
    font-size: 25px;
  }

  .swiper.news {
    left: 58px;
    width: 100%;
  }

  .content2>.newss.swiper-scrollbar {
    left: 218px;
    bottom: 112px;
  }

  .content2>.newss.swiper-button-prev {
    left: 345px;
    top: 824px;
  }

  .content2>.newss.swiper-button-next {
    left: 400px;
    top: 824px;
    color: #000;
  }


  /* 바탐 */
  .content3 {
    display: none;
  }

  .line {
    display: none;
  }

  .bottom .inner {
    display: none;
  }



  /* 푸터 */


  footer .menu li a {
    padding: 0 20px;
    font-size: 14px;
  }

  .first-line {
    display: block;

  }

  footer ul.menu {
    width: 100%
    margin: 0 auto;
  }

  .first-line-right {
    width: 580px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;

  }
}